@import "./prism-theme.css";

.sans-serif {
  font-family: 'avenir next', avenir, helvetica, 'helvetica neue', arial, sans-serif;
}

.reference-item,
.reference-item:active,
.reference-item:visited {
  color: #888
}

.reference-item:hover {
  color: #444
}

/* fa extension */
.fa.my-fa-1\.5x { font-size: 1.6em }
