{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "curly": ["error", "multi-line"],
    "camelcase": ["error", {"properties": "never"}],
    "comma-dangle": ["error", "always-multiline"],
    "no-underscore-dangle": "off",
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": ["error", "always"],
    "strict": "off",
    "react/prop-types": 1,
    "react/sort-prop-types": [
      1,
      {
        "callbacksLast": true,
        "requiredFirst": true
      }
    ],
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
  }
}
