.sans-serif {
  font-family: 'avenir next', avenir, helvetica, 'helvetica neue', arial, sans-serif;
}

.reference-item,
.reference-item:active,
.reference-item:hover,
.reference-item:visited {
  color: #2A5DB0
}

.reference-item:hover {
  color: #2200CC
}
