html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;  
}

body {
  -webkit-font-smoothing: antialiased;
}

table {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

table th, table td {
  padding: 10px;
  text-align: center;
}
